.container
{
    margin: 40px 80px;
}

.all-cinemas
{
    background-color: var(--red-color);
    text-align: center;
    color: var(--white-color);
    font-size: 2.5rem;
    height: 40px;
    padding-top: 4px;
}

.cinemas-system
{
    color: var(--white-color);
    background-color: #BEBEBE;
    margin: 0 30px;
    height: 260px;
}

.cinemas-system h2
{
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
}

.cinemas-system-item
{
    /* display: inline-block; */
    font-size: 1.6rem;
    padding: 10px;
    text-align: center;
}